:root {
  --Shade-2: #1A1A20;
  --bg-color: #1A1A20;
  --Shade-6:#676778;
  --Shade-0:#101013;
}

.nav_container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: 1920;
  height: 68;
  border-bottom-width: 1.5px;
  border-bottom: 1.5px solid var(--Shade-2, #1A1A20);
  background-color: var(--bg-color);

}

.leftnavDiv{
  display: flex;
  align-items: center;
  width: 50%;
  /* background-color: red; */
}
.right_section_nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:10px;
  width: 50%;
}
.logo_container {
  width: 159px;
  height: 28px;
  top: 20px;
  left: 24px;
}

.logo_container img {
  width: 159px;
  height: 28px;
  top: 20px;
  left: 24px;

}

.navLIst {
  list-style: none;
  display: flex;
  width: 553px;
  height: 20px;
  top: 25px;
  left: 217px;
  gap: 32px;

}

.navLIst li img {
  width: 50px;
  height: 100%;
  display: block;
  margin: 0 auto;
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -2%;

}

.authorizaionBtn{
  border: 1px solid #7848FF;
width: 144px;
height: 47px;
gap: 8px;
border-radius: 8px;
padding-top: 14px;
padding-right: 24px;
padding-bottom: 14px;
padding-left: 24px;
color: #FFFFFF;

  background: linear-gradient(180deg, #7848FF 0%, #6254FF 100%);

}
/* Language css */
.lang-dropdown select{
 width: 95px;
  height: 44px;
  gap: 8px;
  border-radius: 8px;
  border-width: 1px;
  padding: 12px;
  border:1px solid #111112;
}
@media(max-width:1009px){
.sidebarnavLIst{
  list-style: none;
  padding: 5px;
  margin-left: 0px;

}
  .lang-dropdown select{
    padding: 4px;
  }


.sidebarnavLIst li img {
  width: 50px;
  height: 100%;
  display: block;
  margin: 0 auto;
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -2%;

}
}
@media(max-width:1198px){
  .navLIst li img{
    width: 50px;
  }
  .lang-dropdown select{
    padding: 4px;
  }
  .navLIst{
    gap: 10px;
  }
}
@media(max-width:1024px){
.lang-dropdown select {
      width: 64px;
    height: 37px
}
.logo_container{
  width: 50px;
}
.authorizaionBtn {
    border: 1px solid #7848FF;
    width: 90px;
    height: 37px;
    padding-left: 5px;
    font-size: 12px;
  }
  .navLIst{
    gap: 12px;
  }
  .logo_container img{
        width: 60px;
    height: 28px;
  }
}
  .sidebarDiv {
    position: fixed;
    top: 48px;
    height: 100vh;
    width: 120px;
    background-color: #0a0a0a;
    z-index: 999;
    right: -100%; 
    transition: right 0.3s ease; 
  }
   .sidebarDiv.active {
    right: 0px; /* Sidebar slides in */
  }
    .sidebarUl li{
    padding: 10px;
    color: white;
    list-style: none;
  
    font-size: 14px;
  }
  .sidebar_Main_sidebar{
    display: flex;
    width: 100%;
    margin-top: 12px;
  }
  .mainCentral{
    width: 75%;
    margin-right: 8px;
  }
  @media(max-width:1200px){
    .mainCentral{
      width: 100%;
    }
  }